---
title: Archive
permalink: "archive/index.html"
tags: [adsense,adwords,google,linux]
---

<div class="page-archive">
{% for post in site.posts %}
  {% assign post_month_year = post.date | date: "%B %Y" %}
  {% assign newer_post_month_year = post.next.date | date: "%B %Y" %}
  {% if post_month_year != newer_post_month_year %}
    <h3 class="section-header-archive">
      {{ post_month_year }}
    </h3>
  {% endif %}
  <p>
    <a href="{{ post.url | prepend:site.baseurl}}" class="post-title-archive">{{ post.title }}</a>

    {% for tags in post.tags %}
    <a href="/tag/{{ tags }}"><small class="text-muted">{{ tags }}</small></a>&nbsp;
    {% endfor %}
  </p>
{% endfor %}
</div>
