<div class="well well-sm">
	<div id="social-share" style="">

			<div style="float:left;clear:none;display:inline">
				<div style="padding:5px 4px 0px 4px">
					<a class="twitter-share-button" href="https://twitter.com/share" data-url="{{ canonical }}" data-via="underdown" data-text="{% if page.title %}{{ page.title | escape | replace:' ','%20' }}{% else %}{{ site.title | escape | replace:' ','%20' }}{% endif %}"
					  data-related="underdown" data-count="horizontal">Tweet</a>
				</div>
			</div>
			<div style="float:left;clear:none;display:inline">
				<div style="padding:5px 4px 0px 4px">
					<div class="gplus-share">
						<div class="g-plusone" data-size="medium"></div>
							<script type="text/javascript">
					      (function() {
					        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
					        po.src = 'http://apis.google.com/js/platform.js';
					        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
					      })();
					    </script>
					</div>
				</div>
			</div>
			<div style="float:left;clear:none;display:inline;padding:0;margin:0">
				<div id="fb-root"></div>
				<div class="fb-like" data-href="{{ canonical }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
			</div>
	</div>
</div>
