<div style="position:fixed;">
<h3>
  Author
</h3>

<p>
  <div class="media">
    <img src="https://lh6.googleusercontent.com/-oLixLrpfp1U/AAAAAAAAAAI/AAAAAAAAAJs/EFUdVUMZXtc/s96-c/photo.jpg" alt="Ryan Underdown" class="pull-left">
    <div class="media-body">
      <h4 class="media-heading">Ryan Underdown</h4>
	<p>Internet Marketer</p>
    </div>
  </div>
</p>

<p><a href="https://twitter.com/underdown" class="twitter-follow-button" data-show-screen-name="false" data-show-count="true" data-dnt="true" data-size="large">Follow @underdown</a></p>
<!--- <div id="social-share" style="height:100%">
	<div style="float:left;clear:none;display:block">
		<div style="padding:0 4px 4px 4px">
			<a class="twitter-share-button"
			   href="https://twitter.com/share"
			  data-url="{{ canonical }}"
			  data-via="underdown"
			  data-text="{% if page.title %}{{ page.title | escape | replace:' ','%20' }}{% else %}{{ site.title | escape | replace:' ','%20' }}{% endif %}"
			  data-related="twitterdev:Twitter Developer Relations"
			  data-count="vertical">
			Tweet
			</a>
		</div>
	</div>

	<div style="float:left;clear:none;display:block"><div style="padding:0 4px 4px 4px"><script type="text/javascript" src="//www.redditstatic.com/button/button2.js"></script></div></div>
	<div id="fb-root"></div>
		<div style="float:left;clear:none;display:block">
			<div style="padding:0 4px 4px 4px">
				<div class="fb-like" data-href="{{ canonical }}" data-layout="box_count" data-action="like" data-show-faces="true" data-share="false"></div>

			</div>

		</div>
</div> --->
</div>


