<!---
<div id="social-share" style="height:100%">
	<div style="float:left;clear:none;display:block">
		<div style="padding:0 4px 4px 4px">
			<a class="twitter-share-button"
			   href="https://twitter.com/share"
			  data-url="{{ canonical }}"
			  data-via="underdown"
			  data-text="{% if page.title %}{{ page.title | escape | replace:' ','%20' }}{% else %}{{ site.title | escape | replace:' ','%20' }}{% endif %}"
			  data-related="twitterdev:Twitter Developer Relations"
			  data-count="vertical">
			Tweet
			</a>
		</div>
	</div>
	<script type="text/javascript">
	window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
	</script>
	<div style="float:left;clear:none;display:block"><div style="padding:0 4px 4px 4px"><script type="text/javascript" src="//www.redditstatic.com/button/button2.js"></script></div></div>
	<div id="fb-root"></div>
		<div style="float:left;clear:none;display:block">
			<div style="padding:0 4px 4px 4px">
				<div class="fb-like" data-href="{{ canonical }}" data-layout="box_count" data-action="like" data-show-faces="true" data-share="false"></div>
			</div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=156416484407619&version=v2.0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

		   <!--- <a href="https://www.facebook.com/sharer.php?s=100&p%5Burl%5D={{ canonical }}&p%5Bimages%5D%5B0%5D={{ site.url }}/{% if page.og_image %}{{ page.og_image }}{% else %}{{ site.og_image }}{% endif %}&p%5Btitle%5D={% if page.title %}{{ page.title | escape | replace:' ','%20' }}{% else %}{{ site.title | escape | replace:' ','%20' }}{% endif %}&p%5Bsummary%5D={% if description != empty %}{{ description | strip_html | condense_spaces | truncate:150 | replace:' ','%20' }}{% endif %}"><img src="/images/share-fb.png" title="Share on Facebook" alt="Facebook share button"></a> --->
		    <!---<a href="https://twitter.com/intent/tweet?url={{ canonical }}&text={% if page.title %}{{ page.title | escape | truncate:80 | replace:' ','%20' }}{% else %}{{ site.title | escape | truncate:80 | replace:' ','%20' }}{% endif %}&via=okeeblow"><img src="/images/share-twitter.png" title="Share on Twitter" alt="Twitter share button"></a>
		    <a href="http://reddit.com/submit?url={{ canonical }}&title={% if page.title %}{{ page.title | escape | replace:' ','%20' }}{% else %}{{ site.title | escape | replace:' ','%20' }}{% endif %}"><img src="/images/share-reddit.png" title="Share on Reddit" alt="Reddit share button"></a> - - -   >
		</div>
</div> --->
