// Add your own custom CSS here.
@import "pygments-tomorrow";

.post-content img,
.post-excerpt-home img,
.post-nav img {
  @extend .img-rounded;
}
.post-content table,
.post-excerpt-home table,
.post-nav table {
  @extend .table;
  @extend .table-bordered;
}
.post-content a{text-decoration: underline}
.navbar-static-top{margin-bottom:10px}

.well {
  min-height: 48px;
  padding: 19px;
  margin-bottom: 10px;
  background-color: yellow; //$well-bg;
  border: 1px solid $well-border;
  border-radius: 8px;//$border-radius-base;
//  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.01));
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
}

// Sizes
.well-lg {
  padding: 24px;
  border-radius: $border-radius-large;
}
.well-sm {
  padding: 9px;
  border-radius: 8px;
}
