---
layout: default
---
{% if post.tags.size > 0 %}
    {% capture tags_content %}Posted with {% if post.tags.size == 1 %}<i class="fa fa-tag"></i>{% else %}<i class="fa fa-tags"></i>{% endif %}: {% endcapture %}
    {% for post_tag in post.tags %}
        {% for data_tag in site.data.tags %}
            {% if data_tag.slug == post_tag %}
                {% assign tag = data_tag %}
            {% endif %}
        {% endfor %}
        {% if tag %}
            {% capture tags_content_temp %}{{ tags_content }}<a href="/tag/{{ tag.slug }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
            {% assign tags_content = tags_content_temp %}
        {% endif %}
    {% endfor %}
{% else %}
    {% assign tags_content = '' %}
{% endif %}
<div class="post-header">
  <h1 class="post-title-main">{{ page.title }}</h1>
  {% include post-header.html %}
</div>
<div class="post-content">
  {{ content }}
  <p id="post-meta">{{ tags_content }}</p>
</div>
<div class="post-footer">
  {% include post-footer.html %}
</div>
{% if site.data.theme.show_post_navs %}
  {% if page.previous or page.next %}
    <div class="post-navs row">
      {% if page.previous %}
        <div class="col-md-6 post-nav">
          <h3 class="section-header">
            Older
            <span class="text-muted"> &middot; </span>
            <a href="{{ "/archive" | prepend:site.baseurl }}">View Archive ({{ site.posts.size }})</a>
          </h3>
          <h2 class="post-title-link"><a href="{{ page.previous.url | prepend:site.baseurl }}">{{ page.previous.title }}</a></h2>
          {{ page.previous.excerpt | markdownify }}
        </div>
      {% endif %}
      {% if page.next %}
        <div class="col-md-6 post-nav">
          <h3 class="section-header">
            Newer
            {% unless page.previous %}
              <span class="text-muted"> &middot; </span>
              <a href="{{ "/archive" | prepend:site.baseurl }}">View Archive ({{ site.posts.size }})</a>
            {% endunless %}
          </h3>
          <h2 class="post-title-link"><a href="{{ page.next.url | prepend:site.baseurl }}">{{ page.next.title }}</a></h2>
          {{ page.next.excerpt | markdownify }}
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endif %}
