---
layout: base
---
<div class="container">
    <div class="row">
        <!-- Begin blog articles -->
        <section class="col-md-7">
            {% if site.tags.[page.filter_tag] %}
            {% for post in site.tags.[page.filter_tag] %}

            <!-- Begin post -->
            {% include blog/blog_post.html %}
            <!-- End post -->

            {% unless forloop.last %}<hr>{% endunless %}
            {% endfor %}
            {% else %}
            <h2>No posts to display.</h2>
            {% endif %}
        </section>
        <!-- End blog articles -->
    </div>
</div>